

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="border: solid 1px;">
      <span class="text-center">
        <p class="content-center">Who wants to register</p> <br>
        <div  class="content-center">  
          <button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button" (click)="register = 'student'">Student register</button>   
          &nbsp;   &nbsp; &nbsp;&nbsp;
          <button type="submit" mat-raised-button color="accent"matTooltip="Click Reset Button" (click)="register = 'staff'">Staff register</button>  
          &nbsp;   &nbsp; &nbsp;&nbsp;
          <button type="reset" mat-raised-button color="accent"matTooltip="Cancel" routerLink="/login">Go to Login</button>  
        </div> 
    </span>
  </div>
    <div class="col-lg-4"></div>
</div>
<div class="row">
<div class="col-lg-4"></div>
<div class="col-lg-4">
<div *ngIf="register=='student'">
  
      <app-studentregister></app-studentregister>
  
</div>
<div *ngIf="register=='staff'">


    <app-staffregister></app-staffregister>


</div>
</div>
<div class="col-lg-4"></div>
</div>
